body {
  padding: 15px;
  margin: 0;
  background: grey;
}

.tagarea {
  display: none;
}

.tag-box {
  list-style: none;
  padding: 5px;
  margin: 10px;
  display: inline-block;
  width: 100%;
  border: 1px solid white;
  border-radius: 4px;
}
.tag-box li {
  padding: 10px 10px;
  float: left;
  display: inline-block;
}
.tag-box li.tags {
  background: white;
  color: black;
  border-radius: 4px;
  margin: 5px 5px;
  position: relative;
}
.tag-box li.tags .close {
  display: inline-block;
  position: absolute;
  color: black;
  overflow: hidden;
  width: 0;
  right: 0;
  height: 18px;
  cursor: pointer;
  top: 4px;
}
.tag-box li.tags .close:after {
  content: "X";
}
.tag-box li.tags.edit {
  background: none;
  border: 1px solid blue;
  border-radius: 10px;
  color: blue;
}
.tag-box li.tags.edit .input-tag {
  height: auto;
}
.tag-box li.tags.edit:hover {
  padding: 10px 10px;
}
.tag-box li.tags.danger {
  background: #f00;
  opacity: 0.8;
}
.tag-box li.tags:hover {
  padding-right: 20px;
}
.tag-box li.tags:hover .close {
  width: 15px;
}
.tag-box li .input-tag {
  color: aqua;
  height: 24px;
  vertical-align: middle;
  border: none;
  outline: none;
  background: none;
}
.tag-box li .input-tag:hover, .tag-box li .input-tag:focus {
  outline: none;
  border: none;
}
